<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Your Todo List!</h1>
    <p class="lead">Add your todo list to the input field below, they'll appear as a list for you to review.</p>
    <hr class="my-4">

    <form action="#">
      <div class="form-group">
        <textarea #contentInput="ngModel" required id="contentInput" name="contentInput" class="form-control" placeholder="Add your todo" rows="3" (keydown.meta.enter)="createTodo($event, contentInput);" ngModel ></textarea>
      </div>

      <input class="btn btn-primary btn-block" value="save" type="submit" (click)="createTodo($event, contentInput);" />
    </form>

    <hr class="my-4">

    <div class="card" *ngFor="let todo of todos">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Todo {{ todo.id }}</h6>
        <p class="card-text">{{ todo.content }}</p>
        <button class="card-link btn btn-danger" (click)="deleteTodo(todo.id);">Delete</button>
      </div>
    </div>

  </div>


</div>
